@page "/"

<PageTitle>Index</PageTitle>

<h1> Movie Rental</h1>

<a href="/movies" class="btn btn-success btn-large w-50 my-3">All Movies</a>
<a href="/users" class="btn btn-info btn-large w-50 my-3">All Users</a>

@*
    TODO: 
        Add Sessions and Auth.
        Add Users Renting a movie from the movie perspective.
        True IDs instead of sequential
*@