@page "/users"

<PageTitle>All Clients</PageTitle>

<h1>Clients</h1> 
<a href="/create/user" class="btn btn-success btn-lg">Create New Entry</a>

<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th scope="col">Client Name</th>
            <th scope="col"># Movies Renting</th>
            <th scope="col">Date Joined</th>
            <th scope="col">Action</th>
            
        </tr>
    </thead>
    <tbody>
        @if (_users != null)
        {
            foreach (var user in _users)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@GetNumberMoviesRenting(user.UserId)</td>
                    <td>@user.JoinDate</td>
                    <td>
                        <a href="/edit/user/@user.UserId" class="btn btn-warning w-100 my-2">Update</a>
                        <button @onclick="() => DeleteUserEntry(user)" class="btn btn-danger w-100 my-2">Delete</button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@inject IJSRuntime JSRuntime
@code {
    private List<User> _users = null;

    protected override async Task OnInitializedAsync()
    {
        using var context = new MovieRentalDBContext();

        _users = await context.Users.ToListAsync();
    }


    private async Task DeleteUserEntry(User userToDelete)
    {
        ReturnAllRental(userToDelete.UserId);
        using var context = new MovieRentalDBContext();
        context.Users.Remove(userToDelete);

        if (await context.SaveChangesAsync() > 0)
        {
            _users.Remove(userToDelete);
        }
        else
        {
            string errorMessage = $"ERROR: Failed to delete the movie \"{userToDelete.UserName}\"";
            await JSRuntime.InvokeVoidAsync("alert", errorMessage);
        }
    }

    private int GetNumberMoviesRenting(Guid UserId)
    {
        int numberOfCopies = 0;

        using var context = new MovieRentalDBContext();
        numberOfCopies = (
            from movieCopy in context.MoviesCopy
            where (movieCopy.UserId == UserId)
            select movieCopy
        ).ToList().Count();

        return numberOfCopies;
    }

    // TODO: Return all rentals before deleting.
    private async Task ReturnAllRental(Guid UserId)
    {
        List<MovieCopy> copiesInPossession = null;
        MovieCopy copyToReturn = null;
        using var context = new MovieRentalDBContext();
        // get all copies that the user is renting.
        copiesInPossession = await (
            from movieCopy in context.MoviesCopy
            where (movieCopy.UserId == UserId)
            select movieCopy
        ).ToListAsync();

        foreach(var copy in copiesInPossession)
        {
            using var context_1 = new MovieRentalDBContext();
            copyToReturn = await context.MoviesCopy.FindAsync(copy.CopyId);
            copyToReturn.DateRent = null;
            copyToReturn.UserId = null;

            if (await context.SaveChangesAsync() < 0)
            {
                string errorMessage = $"ERROR: Failed to delete the user";
                await JSRuntime.InvokeVoidAsync("alert", errorMessage);
            }
        }
    }
}
